/* Add this to your CSS file */
.pagination-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.dashboard-container {
    padding: 20px;
    position: relative;
}

.welcome-message {
    margin-left: 5%;
}

.logout-button {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.logout-button:hover {
    background-color: #970d1b;
}

.dashboard-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
}

.chart {
    flex: 1;
    margin: 0 10px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chart.login-count {
    flex: 1;
    margin: 0 10px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.chart.login-count h4 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.chart.login-count p {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
}

.chart.login-count p.total {
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #000;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.table-container {
    width: 90%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.table-container h4 {
    margin-bottom: 10px;
}

.table-container .table {
    align-items: center;
    text-align: center;
}
